.root {
}

.weight {
	width: 100%;
	text-align: center;
	font-size: 2em;
	border: 0;
	border-bottom: 1px solid black;
	&:active {
		outline: none;
		border-bottom: 1px solid blue;
	}
	margin-bottom: 1em;
}
