.root {
}

.name {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.table {
	display: table;
}

.row {
	display: table-row;
}

.label {
	display: table-cell;
	padding-right: 0.5em;
	font-weight: bold;
}

.value {
	display: table-cell;
	padding-right: 0.5em;
}

.negative {
	color: maroon;
}

.positive {
	color: green;
}
